.team-card {
  background-color: #ffffff33;
  border-radius: 8px;
  margin: 12px;
  padding: 16px;
  width: 200px;
  text-align: center;
}

.link-item {
  text-decoration: none;
  color: white;
}

.team-logo {
  width: 100px;
  height: 100px;
  margin-bottom: 8px;
}

.team-name {
  font-family: 'Bree Serif';
  font-size: 16px;
}
