.logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.logo-title img {
  width: 40px;
  margin-right: 10px;
}

.logo-title h1 {
  font-size: 24px;
  font-family: 'Bree Serif';
}

.team-cards-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

@media (max-width: 767px) {
  .home-bg {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  .home-heading {
    font-size: 28px;
    font-family: 'Bree Serif';
    color: #ffffff;
  }
}
@media (min-width: 768px) {
  .home-bg {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  .home-heading {
    font-size: 34px;
    font-family: 'Bree Serif';
    color: #ffffff;
  }
}
