.team-matches-container {
  background-color: #1e293b;
  min-height: 100vh;
  padding: 20px;
  color: white;
}

.team-banner {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 24px;
}

.recent-matches {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  justify-content: center;
}
